In [77]:
import pandas as pd
import os
import glob
print("Pandas has been imported")

Pandas has been imported

In [78]:
#if multiple csv files, create directory for csv files and change this path to that directory that
file_path = 'C:\\Users\\lparker\\OneDrive - The MITRE Corporation\\Sightings\\2023_main_tid_csvs'
all_files = glob.glob(os.path.join(file_path, "*.csv"))
df_files = pd.DataFrame()
#append all files together
for file in all_files:
            df_temp = pd.read_csv(file)
            df_files = df_files._append(df_temp, ignore_index=True)
df_files

                sighting.start_time             main_tid
0       Sep 18, 2023 @ 06:21:42.000                T1110
1       Sep 18, 2023 @ 05:28:06.000                T1046
2       Sep 18, 2023 @ 05:15:46.000  T1049, T1057, T1082
3       Sep 18, 2023 @ 04:48:15.000         T1078, T1098
4       Sep 18, 2023 @ 04:27:18.000                T1046
...                             ...                  ...
553275   Jan 1, 2023 @ 14:40:56.842                T1003
553276   Jan 1, 2023 @ 14:40:56.842                T1003
553277   Jan 1, 2023 @ 14:40:56.842                T1003
553278   Jan 1, 2023 @ 09:57:56.747                T1059
553279   Jan 1, 2023 @ 09:57:56.747                T1059

[553280 rows x 2 columns]

In [79]:
#change to location where csv is located
#tdata = pd.read_csv('C:\\Users\\lparker\\Downloads\\2021_main_tid.csv')

#rename 'sighting.start_time' and 'sighting.tid.keyword' to what your column headers are in the csv
df_files = tdata.rename({'sighting.start_time': 'date', 'main_tid': 'TID'}, axis=1)

df2 = df_files.drop(['date'], axis=1)
df2

                 TID
0              T1018
1              T1036
2              T1547
3              T1071
4              T1071
...              ...
168914         T1218
168915         T1218
168916  T1003, T1552
168917  T1003, T1552
168918  T1003, T1552

[168919 rows x 1 columns]

In [80]:
tid_list = df2['TID'].tolist()

newlist = []
for x in tid_list:
 #   x = str(x)
  #  print(x)
    if ',' in x:
        temp = x.split(', ')
        for y in temp:
            newlist.append(y)
    else:
        newlist.append(x)

In [81]:
print(len(newlist))

409980

In [82]:
tid_df = pd.DataFrame(newlist, columns = ["TID"])
print(tid_df)

          TID
0       T1018
1       T1036
2       T1547
3       T1071
4       T1071
...       ...
409975  T1552
409976  T1003
409977  T1552
409978  T1003
409979  T1552

[409980 rows x 1 columns]

In [83]:
tid_df['count'] = [1 for _ in range(len(tid_df))]
tid_df


result_df = tid_df.groupby(['TID'])['count'].sum()
print(result_df)
result_df.to_csv('C:\\Users\\lparker\\OneDrive - The MITRE Corporation\\Sightings\\Analysis\\yearly_main_tid_counts\\2023_count_for_main_tid.csv')
#final = result_df.sort_values(['count'], ascending=[False])
#final

TID
T1001      4
T1003    387
T1005      5
T1012      1
T1014      1
        ...
T1572     60
T1574    144
T1595      1
T1620     31
T1649      1
Name: count, Length: 78, dtype: int64