In [8]:
import pandas as pd
import os
import glob
print("Pandas has been imported")

Pandas has been imported

In [9]:
#if multiple csv files, create directory for csv files and change this path to that directory that
file_path = 'C:\\Users\\lparker\\OneDrive - The MITRE Corporation\\Sightings\\Analysis\\yearly_main_tid_counts'
all_files = glob.glob(os.path.join(file_path, "*.csv"))
df_files = pd.DataFrame()
#append all files together
for file in all_files:
            df_temp = pd.read_csv(file)
            df_files = df_files._append(df_temp, ignore_index=True)
df_files

       TID  count
0    T1001      4
1    T1003    387
2    T1005      5
3    T1012      1
4    T1014      1
..     ...    ...
357  T1587      1
358  T1590      1
359  T1620      5
360  T1621      4
361  T1649      1

[362 rows x 2 columns]

In [10]:

result_df = df_files.groupby(['TID'])['count'].sum()
print(result_df)
result_df.to_csv('C:\\Users\\lparker\\OneDrive - The MITRE Corporation\\Sightings\\Analysis\\ALL_counts_for_main_tid.csv')
#final = result_df.sort_values(['count'], ascending=[False])
#final

TID
T1001      240
T1003    35794
T1005    10324
T1006       62
T1007       38
         ...
T1614     1448
T1620      160
T1621        4
T1622       62
T1649        2
Name: count, Length: 175, dtype: int64